html{
    height:100%;
}

body {
    background-image:linear-gradient(blue,white);
}

header{
    text-align:center;
    margin-top:40px;
    color:white;
}

#addNoteBtn {
    position: absolute;
    top: 80%;
    left: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: #ff00a2;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

    #addNoteBtn:hover {
        background-color: #fb62cf;
    }

.wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5em;
    grid-auto-rows: 100px;
    left: 10%;
    right:10%;
    top:15%;
}

    .wrapper > div {
        border: #000000 3px solid;
    }


