html {
    height: 100%;
  }

  body {
    background-color: #003ab1;
  }

  header {
    text-align: center;
    margin-top: 40px;
    color: white;
  }

  #addNoteBtn {
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    left: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: #ff00a2;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
  }

  #addNoteBtn:hover {
    background-color: #fb62cf;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    grid-gap: 3em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .wrapper > div {
    background-color: #03ccc5;
    border: #0bff49 1px solid;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
  }

  .wrapper > div:hover {
    background-color: #03ccdf;
  }

  .wrapper > div > button {
    position: relative;
    background-color: red;
    color: white;
    font-weight: bold;
    left: 10px;
    top: 10px;
    border-radius: 5px;
  }

  .wrapper > div > p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 68px;
  }
